*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* common css */
h1 {
    font-size: 60px;
    line-height: 1.2em;
}
h2{
    font-size: 48px;
    line-height: 1.2em;
}
p{
    font-size: 18px;
    line-height: 1.5em;
}
.container {
    width: 85%;
}
.donate-fst-sec {
    background: linear-gradient(0deg, #8d8d8d5e, #6d6d6d57), url(./images/pict_featured_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    padding: 75px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donate-max-cont-width {
    max-width: 680px;
    margin: auto;
}
.banner-cont h1 {
    color: #fff;
    text-shadow: 0px 0px 20px #00000075;
}
.banner-cont p {
    color: #fff;
    padding: 20px 0 40px;
}
.donate-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 24px;
    background: #FFD200;
    display: inline-block;
}
.donate-amnt-sec {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 75px 0px;
    text-align: center;
}
/* .donate-amnt-cont-btm, */
.donate-static-amnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.donate-amnt a{
    display: inline-block;
    padding: 30px;
    background-color: #ccc;
    margin: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}