*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* common css */
h1 {
    font-size: 60px;
    line-height: 1.2em;
}
h2{
    font-size: 54px;
    line-height: 1.2em;
}
p{
    font-size: 18px;
    line-height: 1.5em;
}
.container {
    width: 85%;
}
.donate-fst-sec {
    background: linear-gradient(0deg, #8d8d8d5e, #6d6d6d57), url(./images/pict_featured_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    padding: 75px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donate-max-cont-width {
    max-width: 680px;
    margin: auto;
}
.banner-cont h1 {
    color: #fff;
    text-shadow: 0px 0px 20px #00000075;
}
.banner-cont p {
    color: #fff;
    padding: 20px 0 40px;
}
.donate-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 24px;
    background: #fcc91b;
    display: inline-block;
}
.donate-amnt-sec {
    background: #369FF4;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 75px 0px;
    text-align: center;
}
.donate-static-amnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}
.donate-amnt-sec h2,
.donate-amnt-sec p {
    color: #fff;
}
.donate-amnt a{
    display: inline-block;
    padding: 30px;
    background-color: #2196f3;
    margin: 15px;
    color: rgb(255 255 255);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 16px #bbbbbb;
}
.donate-custom-amnt {
    width: 360px;
    margin: auto;
}
.donate-form input{
    border-width: 0px;
    outline: none;
    font-size: 20px;
}
.donate-form input::placeholder {
    color: #fff;
}
.donate-custom-amnt input[type="text"] {
    width: 100%;
    border-bottom: 1px solid #c1e0fe;
    padding: 10px;
    background: transparent;
    text-align: center;
    color: #fff !important;
    margin: 30px 0px;
}