*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* common css */
h1 {
    font-size: 60px;
    line-height: 1.2em;
}
h2{
    font-size: 48px;
    line-height: 1.2em;
    color: #333;
}
h3 {
    font-size: 39px;
    color: #333;
}
p{
    font-size: 18px;
    line-height: 1.5em;
    color: #333;
}
.container {
    width: 85%;
    padding: 70px 0px;
    margin: auto;
}
.donate-fst-sec {
    background: linear-gradient(0deg, #8d8d8d5e, #6d6d6d57), url(./images/pict_featured_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donate-max-cont-width {
    max-width: 680px;
    margin: auto;
}
.banner-cont h1 {
    color: #fff;
    text-shadow: 0px 0px 20px #00000075;
}
.banner-cont p {
    color: #fff;
}
.sec-heading,
.short-des{
    text-align: center;
}
.short-des{
    padding: 15px 0 40px;
}
.donate-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 24px;
    background: #fcc91b;
    display: inline-block;
    cursor: pointer;
}
.donate-amnt-sec {
    background: #369FF4;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.donate-amnt-sec h2,
.donate-amnt-sec p {
    color: #fff;
}
.wrap-boxes {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}
.donate-amnt a{
    display: inline-block;
    padding: 24px 30px;
    margin: 15px;
    background-color: #22aef2;
    color: rgb(255 255 255);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 16px #bbbbbb;
    transition: .5s;
}
.donate-amnt a:hover,
.donate-amnt-active a{
    background-color: #fcc91b;
}
.donate-custom-amnt {
    width: 360px;
    margin: auto;
}
.donate-form input{
    border-width: 0px;
    outline: none;
    font-size: 20px;
}
.donate-form input::placeholder {
    color: #fff;
}
.donate-custom-amnt input[type="text"] {
    width: 100%;
    border-bottom: 1px solid #c1e0fe;
    padding: 10px;
    background: transparent;
    text-align: center;
    color: #fff !important;
    margin: 30px 0px;
}
.donate-plan {
    display: flex;
    justify-content: center;
}
.our-plan-boxes {
    max-width: 350px;
    background: #ffe4e4;
    margin: 15px;
    padding: 30px;
    color: #4a4a4a;
}
.our-plan-boxes h4 {
    font-size: 20px;
    margin: 10px 0px;
}
.our-plan-boxes p {
    font-size: 15px;
}
.food-box {
    background: #ffe9d6;
}
.shelter-box {
    background: #B7E9E9;
}
.education-box {
    background: #DCD4E3;
}

/* about us sec */
.about-cont-wrap{
    display: flex;
    align-items: center;
}
.about-half-left{
    width: 50%;
    padding-right: 45px;
}
.about-half-right{
    width: 50%;
}
.about-des {
    padding: 20px 0 20px;
}
.about-half-right img {
    width: 100%;
}


/* get-updates-sec */
.get-updates-sec {
    display: flex;
    justify-content: center;
    text-align: center;
}
form.get-new-updates {
    display: flex;
    width: 520px;
    margin: auto;
    align-items: center;
}
.get-updates-btm {
    display: flex;
    max-width: 660px;
    background: #369FF4;
    margin: auto;
    padding: 60px 40px;
    border-radius: 12px;
}
.notify-email {
    width: 70%;
}
.subscribe-form-btn {
    width: 30%;
}
.notify-email input[type="email"] {
    width: 100%;
    padding: 14px;
    /* border-width: 2px 0px 2px 2px; */
    border: none;
    border-radius: 8px 0px 0px 8px;
    outline: none;
}
.subscribe-form-btn input[type="submit"] {
    width: 100%;
    padding: 14px;
    /* border-width: 2px 2px 2px 0px; */
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: #FCC91B;
    cursor: pointer;
    outline: none;
}

/* footer-sec */
.footer-sec {
    background: #293541;
    text-align: center;
    margin: auto;
}
.footer-sec .container {
    padding: 30px 0px !important;
}
.copyright p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}